.header {
  &-mobile-social {
    overflow-x: hidden;
    background-color: #242424;
    color: #fff;
    padding: 8px 0;
    @media (min-width: 768px) {
      display: none;
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-tel {
      color: #fff;
      font-size: 14px;
      &:hover, &:focus {
        color: #fff;
      }
    }
    .header-social {
      margin-left: -10px;
      li {
        font-size: 18px;
        padding: 0 10px;
      }
      a {
        color: #fff;
      }
    }
  }
  &-desctop {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 12px 24px rgba(9, 7, 37, 0.0653682);
    .header-social {
      display: none;
      @media (min-width: 768px) {
        display: flex;
      }
    }
    .header-tel {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &-inner {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  &-logo {
    flex-grow: 1;
    img {
      max-width: 136px;
      max-height: 40px;
      width: auto;
      height: auto;
      @media (min-width: 768px) {
        max-height: 32px;
        max-width: 172px;
      }
    }
    h1 {
      font-size: 0;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    margin: 0 28px 0 18px;
    li {
      padding: 0 12px;
      line-height: 1;
      font-size: 20px;
    }
    a {
      color: $color-primary;
    }
  }
}