$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./icon-font" !default;

$icon-heading-decor-2: "\e900";
$icon-heading-decor: "\e901";
$icon-list-item: "\e902";
$icon-section-decor-left: "\e903";
$icon-section-decor-right: "\e904";
$icon-title-line: "\e905";
$icon-cross: "\ea0f";
$icon-play2: "\ea15";
$icon-pause: "\ea16";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";

